{% extends "AppCoder/Padre.html" %}

{% load static %}

{% block contenidoPagina %}

<div>
    <h1>Este es el Inicio de la pagina</h1>
    <!-- Colocar Plantilla -->
    <h2>Buscar Empleador ó Cliente</h2>

    <form action="/AppCoder/Buscador/" method="GET">

        <input type="text" name="nombres">

        <input type="submit" value="Buscar">
    </form>

    {% if nombre %}
    
    <p>Estamos buscando a {{nombre}}</p>

    <ul>
        {% for nombre in nombres %}

            <li> {{nombre.nombres}}</li>

        {% endfor %}

    </ul>

</div>

{% endblock %}